table {
  float: left;
  margin: 50px; }

.cell {
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid #999;
  text-align: center;
  line-height: 20px; }

.my {
  background: #66ff66;
  border: 2px solid #006600; }

.hit {
  background: #ff6666; }

.miss {
  background: #aaaaaa; }

.kill {
  background: black;
  color: #fff; }

.coordinate {
  text-align: center;
  text-transform: uppercase; }
