$my_ship_background: #66ff66;
$my_ship_border: #006600;
$hit: #ff6666;
$miss: #aaa;
$kill: #000;

table {
    float: left;
    margin: 50px;
}

.cell {
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #999;
    text-align: center;
    line-height: 20px;
}

.my {
    background: $my_ship_background;
    border: 2px solid $my_ship_border;
}

.hit {
    background: $hit;
}

.miss {
    background: $miss;
}

.kill {
    background: $kill;
}

.coordinate {
    text-align: center;
    text-transform: uppercase;
}
